<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">

    <!-- disables pinch-scaling of the webview, so that gestures only do what they're supposed to -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>

    <title></title>

    <script src="https://www.wikitude.com/libs/architect.js"></script>
    <script type="text/javascript" src="../ade.js"></script>

    <link rel="stylesheet" href="css/default.css">
</head>

<body>
<div id="top-wrapper">
    <div id="loadingMessage" class="info"></div>

    <div id="slider-container">
        <div id="height-value-text-container">
            <input id="height-value-text" type="number" value="1.0" onchange="World.changeTrackingHeight(value)">
        </div>
        <div id="tracking-height-slider-container">
            <input id="tracking-height-slider" type="range" min="0.1" value="1.0" max="2.0" step="0.1"
                   oninput="World.changeTrackingHeight(value)">
        </div>
    </div>
    <div id="save-button-container">
        <input class="image-button" type="image" src="assets/buttons/save.png"
               onclick="World.saveCurrentInstantTarget()">
    </div>
</div>

<div id="tracking-controls-container-lower">
    <input id="tracking-start-stop-button" class="image-button" type="image" src="assets/buttons/start.png"
           onclick="World.changeTrackerState()"/>

    <div id="tracking-controls-container-lower-spacing"></div>

    <input id="tracking-model-button-cat" class="model-button image-button image-button-inactive" type="image"
           src="assets/buttons/thumb_cat.jpeg"/>
    <input id="tracking-model-button-df" class="model-button image-button image-button-inactive" type="image"
           src="assets/buttons/thumb_dragonfly.jpeg"/>
</div>

<script src="js/saveinstanttarget.js"></script>
</body>
</html>
